<h1>Username : <%= username %></h1>
<div class="container-contact">
  <div class="row">
    <div class="col-md-3" id="contact-list">
      <!-- <div class="contact border border-dark p-3 mb-3">
        <h4>Ban</h4>
        <a href="/Ban">Chat</a>
      </div> -->
    </div>
  </div>
</div>
<a href="/add-contact" class="d-block">Add Contact</a>
<a href="/logout">Logout</a>
